@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  font-family: Arial, 돋움, Dotum, sans-serif;
}
#wrap {
  width: 1280px;
  margin: 0 auto;
}
#wrap > header {
  height: 100px;
  border: 1px solid #f00;
}
#wrap > header ul {
  width: 800px;
  height: 100%;
  display: flex;
  float: right;
  align-items: center;
}
#wrap > header ul li {
  flex: 1 1 20%;
}
#wrap > section > div {
  float: left;
}
#wrap > section > div.left {
  width: 20%;
}
#wrap > section > div.right {
  width: 80%;
}
#wrap > footer {
  clear: left;
  height: 100px;
  border: 1px solid #0f0;
}
